body{
  background: #111111;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='#FFFFFF', GradientType=0);
  background: -webkit-linear-gradient(to bottom, #111111 50%, #FFFFFF) !important;
  background: -moz-linear-gradient(to bottom, #111111 50%, #FFFFFF) !important;
  background: -ms-linear-gradient(to bottom, #111111 50%, #FFFFFF) !important;
  background: -o-linear-gradient(to bottom, #111111 50%, #FFFFFF) !important;
  background: linear-gradient(to bottom, #111111 50%, #FFFFFF) !important;
  color: white;
  height: 100vh;
}

div.well{
  height: 250px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 60%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
  text-align: center;
}

#submit {
	color: black;
}

#submit:hover {
  background-color: gray;
}

h1 {
  margin-bottom: 20px;
}