@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
}

.center {
    margin: auto;
    width: 95%;
    padding: 10px;
    margin-bottom: 50px;
}

.info_container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#stallList {
    padding: 0;
    text-align: center;
    margin-bottom: 15px;
}

.stall {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 5px;
}

#content {
    border: solid;
    text-align: center;
    font-size: 3em;
    padding: 20px;
    min-height: 600px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    background-color: lightgray;
}

#content_container {
  font-size: 14px;
}

#jumbotron {
  background-color: white;
}

#tkLogo {
  width: 300px;
  display: block;
  margin: 0px auto;
}

.page-header {
  background-color: inherit;
  padding-bottom: 15px;
  padding-top: 20px;
}

.hours {
  display: inline-block;
  width: 300px;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

.dropdown-dark {
  background: #444;
  border-color: #111111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.dropdown-dark:before {
  border-bottom-color: #aaa;
}

.dropdown-dark:after {
  border-top-color: #aaa;
}

.dropdown-dark .dropdown-select {
  color: #aaa;
  text-shadow: 0 1px black;
  background: #444;  /* Fallback for IE 8 */
}

.dropdown-dark .dropdown-select:focus {
  color: #ccc;
}

.dropdown-dark .dropdown-select > option {
  background: #444;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
}

.row {
  margin-right: 0px!important;
  margin-left: 0px!important;
}

.responsiveCal {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.responsiveCal iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2%;
}

.menu {
  max-width: 95%;
  margin-bottom: 20px;
  font-size: 14px;
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-style: italic;
}

.images {
  display: block;
  width: 100%;
  height: 100%;
}

.image-container {
  width: 100%;
  margin: 5px;
  display: inline-block;
  font-size: 14px;
}

.navbar-nav {
  display: inline-block!important;
}

.col-sm-4 {
  width: 32.4%!important;
  text-align: center;
  display: inline-block;
}

.nav-link {
  color: white;
  display: initial!important;
}

.nav-link:hover {
  text-decoration: underline!important;
  color: white!important;
}

.container {
  padding: 5px;
}

#hours_container {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .image-container {
    width: 427px;
    height: 320px;
    margin: 5px;
    display: inline-block;
  }
  
  .center {
      margin: auto;
      width: 85%;
      padding: 10px;
      margin-bottom: 50px;
  }
  
  .stall {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 5px;
  }
  
  .nav-item {
    width: auto;
    display: block;
  }
  
  .col-sm-4 {
    width: 33%!important;
    text-align: center;
    display: inline-block;
  }
  
  #hours_container {
    width: 604px;
    margin: auto;
    margin-top: 30px;
  }
}
