@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
}

.center {
  margin: auto;
  width: 95%;
  padding: 10px;
  margin-bottom: 25px;
}

.info_container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

#stallList {
    padding: 0;
    text-align: center;
    margin-bottom: 15px;
}

.stall {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 5px;
}

#content {
  border: solid;
  text-align: center;
  font-size: 3em;
  padding: 20px;
  min-height: 600px;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  background-color: lightgray;
}

#content_container {
  font-size: 14px;
}

#tkLogo {
  width: 300px;
  display: block;
  margin: 0px auto;
}

.page-header {
  background-color: inherit;
  padding-bottom: 15px;
  padding-top: 20px;
}

.hours {
  display: inline-block;
  width: 300px;
}

.image{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}
.image img{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.row {
  margin-right: 0px!important;
  margin-left: 0px!important;
}

.responsiveCal {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.responsiveCal iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2%;
}

.menu {
  max-width: 95%;
  margin-bottom: 20px;
  font-size: 14px;
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-style: italic;
}

.images {
  display: block;
  width: 100%;
  height: 100%;
}

.image-container {
  width: 100%;
  margin: 5px;
  display: inline-block;
  font-size: 14px;
}

.navbar-nav {
  display: inline-block!important;
}

.col-sm-4 {
  width: 32.4%!important;
  text-align: center;
  display: inline-block;
}

.nav-link {
  color: white;
  display: initial!important;
}

.nav-link:hover {
  text-decoration: underline!important;
  color: white!important;
}

.container {
  padding: 5px;
}

#hours_container {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

.welcome-image {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 750px) {
  .image-container {
    width: 427px;
    height: 320px;
    margin: 5px;
    display: inline-block;
  }

  .center {
    margin: auto;
    width: 85%;
    padding: 10px;
    margin-bottom: 25px;
  }

  .stall {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 5px;
  }

  .nav-item {
    width: auto;
    display: block;
  }

  .col-sm-4 {
    width: 33%!important;
    text-align: center;
    display: inline-block;
  }

  #hours_container {
    width: 604px;
    margin: auto;
    margin-top: 30px;
  }
}

.soc {
  overflow:hidden;
  margin:0; padding:0;
  list-style:none;
  text-align: center;
  margin-bottom: 25px;
}

.soc li {
  display:inline-block;
  *display:inline;
  zoom:1;
}

.soc li a {
  overflow:hidden;
  text-decoration:none;
  text-align:center;
  display:block;
  position: relative;
  z-index: 1;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  margin-right: 15px;
  color: #ffffff;
  background-color: none;
  box-shadow: 0px 4px;
}

.soc li a:hover{
  opacity: .8;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color: white;
}
